@{
    /**/

    ViewBag.Title = "Home";
}

<div>
    <section class="dashboard-horizontal">
        <div class="row">
            <div class="col">
                <strong>Próspero</strong>
                <br />@ViewBag.PP
                <br />membros
            </div>
            <div class="col imagem-graduacao">
                <img src="~/img/grad/pp.png" width="61" height="73" style="float:right" />
            </div>
        </div>            
    </section>
</div>

<div>
    <section class="dashboard-horizontal">
        <div class="row">
            <div class="col">
                <strong>Brasil</strong>
                <br />@ViewBag.Brasil
                <br />membros
            </div>
            <div class="col imagem-graduacao">
                <img src="~/img/grad/brasil.png" width="61" height="73" style="float:right" />
            </div>
        </div>
    </section>
</div>

<div>
    <section class="dashboard-horizontal">
        <div class="row">
            <div class="col">
                <strong>Mutante</strong>
                <br />@ViewBag.Mutante
                <br />membros
            </div>
            <div class="col imagem-graduacao">
                <img src="~/img/grad/mutante.png" width="61" height="73" style="float:right" />
            </div>
        </div>
    </section>
</div>

<div>
    <section class="dashboard-horizontal">
        <div class="row">
            <div class="col">
                <strong>Escudo</strong>
                <br />@ViewBag.Escudo
                <br />membros
            </div>
            <div class="col imagem-graduacao">
                <img src="~/img/grad/escudo.png" width="61" height="73" style="float:right" />
            </div>
        </div>
    </section>
</div>


