@{
    /**/

    ViewBag.Title = "Home";
}

<section class="dashboard">
    <div class="dashboard-numero"><strong>@ViewBag.Membros</strong></div>
    <div class="dashboard-texto">Escudos</div>
</section>

<section class="dashboard sem-borda">
    <div class="dashboard-mini-top">
        <strong>Próspero</strong>
        </br>@ViewBag.Escudos
        </br>membros
    </div>
    <div class="dashboard-mini-mid">
        <strong>Brasil</strong>
        </br>@ViewBag.PP
        </br>membros
    </div>
    <div class="dashboard-mini-bot">
        <strong>Meio-escudo</strong>
        </br>
        </br>membros
    </div>
</section>


@*<div class="grafico-geo">
    <div class="grafico">
        <canvas id="graficoLinha" width="650" height="273"></canvas>
    </div>
</div>*@


