@{
    ViewBag.Title = "Início";
}

<section class="dashboard">
    <div class="dashboard-numero"><strong>@ViewBag.Membros</strong></div>
    <div class="dashboard-texto">Membros</div>
</section>

<section class="dashboard sem-borda">
    <div class="dashboard-mini-top">
        <strong>Escudos</strong>
        </br>@ViewBag.Escudos
        </br>membros
    </div>
    <div class="dashboard-mini-mid">
        <strong>Prósperos</strong>
        </br>@ViewBag.PP
        </br>membros
    </div>
    <div class="dashboard-mini-bot">
        <strong>Facções</strong>
        </br>@ViewBag.Faccoes
        </br>cidades
    </div>
</section>

