.dashboard-horizontal {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 120px;
    width: 240px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    padding-left: 15px;
    padding-top: 19px;
    border-left: 4px solid;
    border-left-color: #f58220;    
}

.imagem-graduacao {
    margin-top: 3px;
    margin-right: 10px;
}
