/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.criar{
    background: transparent url(/img/icons/criar.png);
}

.editar {
    background: transparent url(/img/icons/editar.png);
}

.detalhes {
    background: transparent url(/img/icons/detalhes.png);
}

.excluir {
    background: transparent url(/img/icons/excluir.png);
}

.text-danger{
    font-size:13px;
}

.progresso {
    display: none;
    position: fixed;
    top: 360px;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    height: 90px;
    width: 120px;
}